.Overview {
  width: 100%;
  display: grid;
  gap: 24px;
}

p {
  font-size: 18px;
  font-weight: 700;
}

.cards-section {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  justify-content: space-around;
  gap: 20px;
}

.Chart-section {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(6, 1fr);
}

.Statuscards-main {
  grid-column: 1 / 3;
}

.Chart-card-main {
  height: 100%;
  grid-column: 3 /7;
}
