.Overview {
  /* height: 70%; */
  width: 100%;
  display: flex;
  flex-direction: column;
}

p {
  font-size: 18px;
  font-weight: 700;
}

.cards-section {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  justify-content: space-around;
  padding: 10px 0;
  gap: 20px;
}

.Chart-section {
  display: flex;
  flex-direction: row;

  /* justify-content: space-between; */
  gap: 20px;
}
