.todo-item-main {
  height: fit-content;
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin: 10px 0;
}

.todo-item-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.todo-item-title {
  font-family: "Josefin";
  font-size: 16px;
}

.todo-item-desc {
  font-family: "Josefin";
  font-size: 12px;
  color: rgba(152, 162, 179, 1);
}
