.Meeting-Time-section {
  height: 30%;
  width: 100%;
}

.cards::-webkit-scrollbar {
  display: none;
}

.Meeting-Time-Title {
  font-family: "roboto";
  font-weight: 700;
  font-size: 24px;
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.Add-Meeting-button {
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(105, 65, 198, 1);
  border: 1px solid rgba(105, 65, 198, 1);
  font-family: "Roboto";
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  line-height: normal;
  border-radius: 8px;
}

.cards {
  overflow-y: scroll;
  padding: 5px;
  display: grid;
  gap: 10px;
}
