.Emails-section {
  height: 30%;
  width: 100%;
}

.cards::-webkit-scrollbar {
  display: none;
}

.Emails-Title {
  font-family: "roboto";
  font-weight: 700;
  font-size: 24px;
  margin: 10px 20px;
}

.cards {
  overflow-y: scroll;
  margin: 20px 30px;
}
